<web-app>

	<servlet>
		<servlet-name>GetServlet</servlet-name>
		<servlet-class>nz.co.solnet.api.GetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>nz.co.solnet.api.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>nz.co.solnet.api.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>nz.co.solnet.api.PostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetServlet</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

</web-app>